@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}   

.clip-polygon {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}
/* Hide scrollbar globally */
body::-webkit-scrollbar {
  display: none;
}
body {
  scrollbar-width: none;
}
